---
title: Welcome to Middleman
---

<div class="welcome">
  <h1>Middleman is Watching</h1>
  <p>
    <%= link_to "Read Online Documentation", "http://middlemanapp.com/" %>
  </p><!-- .doc -->
</div><!-- .welcome -->
